includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true

    paths:
        - app/
        - Modules/

    # Level 9 is the highest level
    level: 5

    treatPhpDocTypesAsCertain: false

    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
        - Illuminate\Http\Resources\Json\ResourceCollection

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - Modules/*/Tests/*
#
#    checkMissingIterableValueType: false